<h3>My FavoriteMovie List</h3>
<div class="movie-details-container">
  <ul>
    <li class="movieitem" *ngFor="let movieList of movieList$ | async">
      <div class="poster-container">
        <img [src]="movieList.poster" alt="Movie Poster" class="poster" />
      </div>
      <div class="details-container">
        <div class="title">{{ movieList.title }}</div>
        <div class="year">Released : {{ movieList.yearsAgo }} years ago</div>
        <div>{{ movieList.actor }}</div>
        <div
          class="country-container"
          *ngFor="let item of movieList.countriesData"
        >
          <img [src]="item.flag.png" alt="" class="country-flag" />
          <p class="currencies">{{ item.currencies }}</p>
        </div>
      </div>
      <div>
        <button
          class="add-button"
          (click)="addComment(movieList.id, commentText.value)"
        >
          Add Comment
        </button>
        <button class="delete-button" (click)="deleteMovie(movieList.id)">
          Delete
        </button>
      </div>
      <div class="comments-container">
        <h4>Comments:</h4>
        <input type="text" #commentText />
      </div>
    </li>
  </ul>
</div>
